*{
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  height: 340px;
  width: 100%;
  background-color: black;
  color: rgb(252, 250, 248);
  display: flex;
  flex-direction: column;
  top: 30%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background: url(./stars-galaxy.gif);
  background-repeat: repeat-x;
  align-items: center;
  justify-content: center;
  position: absolute;
}



button {
  padding: 5px 26px;
  border-radius: 15px;
  font-size: 15px;
  background: transparent;
  border: 3px solid white;
}

a {
  color: aliceblue;
  font-size: 20px;
  text-decoration: none;
}


